
body{
   width: 100%;
}

.blog-item {
padding: 10px;
margin: 3%; 
}


.menu-list {
   display: flex;
   justify-content: center;
   list-style-type: none;
 }
 
.menu-list li {
   padding: 5rem;
}
.menu-area {
   display: flex;
   justify-content: center;
}

.search-box{
   border-bottom: 1px solid black;
   position: absolute;
   right: 20px;
   padding: 5px;
 }
 .search-box input{
   border:none;
   margin-left:5px;
 }
 .search-box input:focus {
   outline:none

